<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dododev.resolutions">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Resolutions_"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ResolutionDetails_" />
        <activity android:name=".ResolutionForm_" />
        <activity android:name=".SettingsActivity_" />

        <receiver android:name=".receivers.SampleAlarmReceiver"></receiver>
        <receiver android:name=".receivers.SampleUpdateReceiver"></receiver>

        <receiver
            android:name=".receivers.Autostart_"
            android:enabled="false"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>

        <service
            android:name=".services.NotificationService_"
            android:enabled="true" />
        <service android:name=".services.SampleSchedulingService_" />
        <service android:name=".services.SampleUpdateService_" />

        <activity
            android:name=".ResolutionList"
            android:label="@string/title_activity_resolution_list"></activity>
        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>
